* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.mashq1 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  input {
    padding: 10px;
    border: none;
    border-radius: 7px;
}
}
.btn {
  margin-top: 50px;
  margin-bottom: 50px;
    button{
        margin-right: 20px;
    }
}
.save{
    margin-left: 20px;
}
